body{
	color: black
}
h1 {
	color: white;
	font-family: sans-serif;
}
#Ma-boutique.fr{
	color: red;
	font-size: 30px;  
}
.title{
	font-size: 30px
	color: white 
}
h1, h2, p span {
	Background-color: black;
}

.title {
	color: white;
	font-family: sans-serif;
}

h2 {
	color: white;
	margin-left: 600px auto;
	font-family: sans-serif;
}

.menu>li {
	display: inline-block; 
	margin: 0px 20;
}
