body{
	color: black
}
.lire{
	color : brown;
	
}
.recette{
	color: lightblue;
}
.rtv{
	background-color: black;
	margin: Topbottom;
}
.rtv{
	color: white;
}
.menu>li {
	display: inline-block; 
	margin: 20px 20;
}


