body { 
	
}
nav {
	display : flex;
	align-items : center;
	height : 50px;
	background : #EEEEC6;
	border : solid lightgray 1px;
	
}
nav div{
	display : inline;
	height : 30px;
	width : 10px;
	border-left : solid lightgray 1px;
	margin-left : 100px;
	margin-right : 50px; 
	color : white;
	
}

nav a {
	padding : 5px;
	text-decoration : none;
	color : white;
	font-size : 16pt;
	font-family : arial;
}
